
.header-display {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    
}

.header-display ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.header-display ul li {
    list-style: none;
    margin-left: 90px;
}

.header-display ul li a {
    color: black;
    text-decoration: none;
    font-weight: 800;
    font-size: 20px;
    transition: color 0.3s;
}

.header-display ul li a:hover {
    color: aqua;
}

.logo-name {
    font-size: 20px;
}

.estudios {
    margin-left: 100px;
}

.biografia {
    margin: 100px;
}